[Unit]
Description=Automatic System Updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/bk86a/self-update/system_update.sh
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target